<!doctype html>
<html lang="es" ng-app>
<head>
	<title>ToDo</title>
	<meta charset="utf-8">

	<!-- Bootstrap -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- Bootstrap -->

	<!-- AngularJS -->
	<script src="../js/angular.min.js"></script>
	<!-- AngularJS -->

	<script src="../js/ToDo.js"></script>
	<link rel="stylesheet" href="../css/ToDo.css">
</head>
<body>
	<div class="container-fluid" >
		<div class="row">
			<div class="col-md-12">
				<h1>ToDo con AngularJS y Bootstrap</h1>
			</div>
		</div>

		<div ng-controller="controladorTareas">
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4" ng-if="pendientes()">
					<span class="badge alert-warning">{{pendientes()}}</span>
					Tareas Pendientes
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4" ng-if="realizadas()">
					<span class="badge  alert-success">{{realizadas()}}</span> Tareas Realizadas
				</div>
				<div class="col-lg-2 col-md-4 col-sm-4 col-xs-4" ng-if="tareas.length">
					<span class="badge">{{tareas.length}}</span> Cantidad de Tareas
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<form class="form-inline" role="form" ng-submit="agregarTarea()">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Agregar Nueva Tarea" ng-model="textoNuevaTarea">
						</div>
						<input type="submit" class="btn btn-default" value="Guardar"/>
					</form>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">

					<div class="checkbox" ng-repeat="tarea in tareas">
						<label>
							<input type="checkbox" ng-model="tarea.hecho"> <span class="hecho-{{tarea.hecho}}">{{tarea.texto}}</span>
						</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="progress">
						<div class="progress-bar progress-bar-striped active progress-bar-{{stylePorcentaje()}}"  role="progressbar" aria-valuenow="{{porcentajeCompletado()}}" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentajeCompletado()}}%">
							<span >{{ porcentajeCompletado() | number: 2 }}% Completado</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Bootstrap -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- Bootstrap -->
</body>
</html>